#bottombox {
    position: relative;
    width: 360px;
    padding-top: 1px;
    height: 25px;
    background: rgb(24, 24, 27);
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;

}

#topbox {
    position: relative;
    width: 360px;
    height: 10px;
    background: rgb(24, 24, 27);
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;
}