#change {
    position: absolute;
    background-image: url(../assets/chat/n_settings.png);
    height: 23px;
    width: 23px;
    left: 330px;
    top: 2px;
}

#change:hover {
    background-image: url(../assets/chat/n_settings_white.png);
}

#change .tooltip {
    visibility: hidden;
    width: 119px;
    height: 32px;
    background-image: url(../assets/chat/tooltip.png);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -105px;
    margin-bottom: 7px;
}



#change:hover .tooltip {
    visibility: visible;
}