::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgba(163, 163, 163, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(3, 3, 3);
    border: 1px solid rgba(70, 70, 70, 0.034);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #141414;
}
