#send {
    position: absolute;
    background-image: url(../assets/chat/send.png);
    height: 21px;
    width: 42px;
    left: 175px;
    top: 2px;
}

#send:hover {
    background-image: url(../assets/chat/send_white.png);
}