#youtube {
    margin: 0;
    position: relative;
    width: 360px;
    min-height: 10vh;
    border-left: solid black 1px;
    border-right: solid black 1px;
    background: rgba(255, 0, 0, 0.8);
    color: #efeff1;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 13px;
}